*{
    box-sizing: border-box;
    background-color: grey;
    margin: 0px;
    padding: 0px;
    
    
}
table{

    background-color: teal;
}
tr{
    border-color: white;
    border: 29px solid blue;
}
button{margin-top:20px;}