*{
    box-sizing: border-box;
    
    margin: 0px;
    padding: 0px;
    
    
}
table{
    background-color: yellow;

}
th{
    background-color: orange;
}
tr{
    background-color: grey;
    border: 29px solid blue;
}
button{margin-top:20px;
    
}

